<style>
li {
	display: inline-block;
}
</style>
<header>
	<div class="hero">
		<section class="layout">
			<div class="class branding">
		
			
			
			</div>		
		</section>
	</div>
</header>

<div class="class navigation">
	<section class="class layout">
		<ul class="class nav">
		<li>a</li>
		<li>b</li>
		<li>c</li>
		<li>d</li>
		</ul>
	</section>
</div>